@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;
    --color-primary: #4A70A9;
    --color-secondary: #1B3C53;
    --color-base-100: #EFECE3;
    --color-accent: #706f6f;
}
